.jorney{
    width: 60%;
    height: 90%;
    border-radius: 20px;
    background-color: black;
    display: flex;
}
.Estudos{
    width: 50%;
}
.Trabalho{
    width: 50%;
}
.div{
    display: flex;
    align-items: center;
    height: 100%;
}


.Aprendido{
    list-style:none;    
    color: #fff;
    padding: 0 20px;
}
.Aprendido li{
    display: flex;
    width: 250px;
    height: 50px;
}
.seta{
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.A-text{
    width: 80%;
    display: flex;
    align-items: center;
}
.Aprendido h5{
    font-size: 25px;
}
.resumo{
    box-shadow: #1f1f1f 0px 3px 10px 2px;
    animation: shadow 1s;
    border-radius: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size: 17px;
}
.resumo p{
    width: 90%;
    height: 80%;
    text-align:justify;
    text-indent: 20px;
}

@keyframes shadow{
    from{
        box-shadow: none;
        transform: translateY(10px);
    }
    to{
        box-shadow: #1f1f1f 0px 3px 10px 2px;
    }
}


/*responsive*/
.reponsive-jorney{
    display: none;
    flex-direction: column;
    border-radius: 10px;
    width: 90%;
    min-height: 470px;
    background-color: black;
}


/* APLICAÇÃO MEDIA QUERIES */
@media (max-width: 768px) {
    .jorney{
        display: none;
    }
    .reponsive-jorney{
        display: flex;
    }
}