.container-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

menu{
    display: flex;
    width: 600px;
    height: 60px;
    list-style: none;
    justify-content: center;
}

.container-menu menu li{
    
    width: 120px;
    height: 60px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

}

.container-menu menu button:hover{
    transition: 100ms;
    background-color: #fff;
    scale: 1.2;
}

.container-menu menu button{
    content-visibility: hidden;
    width: 25px;
    height: 25px;
    border-radius: 20%;
    background-color: #141414;
    color: #f20707;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

:link{
    text-decoration: none;
    align-items: center;
}
a{
    text-decoration: none;
}


.container-menu-responsive{
    display: none;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 8px;
    justify-content: center;
}
.container-menu-responsive a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-menu-responsive menu{
    display: flex;
    margin: auto 0;
    width: 300px;
    height: 50px;
    background-color: #141414;
    border-radius: 25px;
    opacity: 0.8;
    gap: 35px;
    

}
.r-link{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #141414;
    color: #f20707;
    transition: 1s;
}

@keyframes scale{
    0%{
        scale: 1.1;
    }
    50%{
        scale: 1.2;
    }
    100%{
        scale: 1.1;
    }
}
@keyframes slide{
    0%{
        content-visibility: hidden;
    }
    100%{
        transform: translateX(50px);
        opacity: 0;
    }
}

/* APLICAÇÃO MEDIA QUERIES */
@media (max-width: 768px) {
    .container-menu{
        display: none;
    }
    .container-menu-responsive{
        display: flex;
    }
}